---
import Title from './Title.astro'
import Shape from './icons/Shape.astro'
import {Image} from 'astro:assets'
import myImage from '../assets/images/CSP.jpg'
type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
        <Image src={myImage} alt="title image" width="40"/>
	<!--<Shape />-->
	<Title>{title}</Title>
</div>
